footer{
    background-color:#F1EFFA;
    height: auto;
    width: 100%; 
    font-family: "open sans";
    padding-top: 40px;
    color: #00036B;
    position: relative;
    bottom: 0;
   
}
.footer-content{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     
    
}
h3{
      font-size: 1.8rem;
      font-weight: 400;
      text-transform: capitalize;
      line-height: 3rem;
}
.footer-content p{
            max-width: 500px;
            margin: 10px auto;
            line-height: 20px;
            font-size: 14px;
}

.redes {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.redes li {
  margin: 0 10px;
}

.redes a:hover {
  color: #ffb688;
}
.footer-bottom{
      background-color: #F1EFFA;
      width: 100%;
      padding: 20px 0;
      text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
#localizacion {
  color: #ffb688;
  font-size: 20px;
}