



.container{

    background-color: #FFFFFF;
width: 879px;
height: 449px;
margin: auto;
margin-bottom: 45px;
padding: 10px;
}




.titulo{
    color: #F57E33;
    text-align: center;
    padding: 25px;
    margin-bottom: 35px;
    font-weight: 900;
    font-size: 30px;
}

.lista {

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  
}

li{


font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
}


.boton{

    background: #3748E7;
    width: 105px;
    height: 55px;
    color: #ffffff;
    font-weight: 800;
    margin-left: 350px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    



}



